MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your_gmail_address@gmail.com
MAIL_PASSWORD=your_gmail_app_password
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1522854458378289233/_6_t546Li07TO3UBlpQk3ES_0W3hs9MHv3XZB-mJiAEdqSVf-xGsd_S6S9TIq07CJ6tb
